<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color:aqua;
            font-family: 'Courier New', Courier, monospace;

        
        }
        .hello{
            text-align: center;
            position: relative;
            margin-top: 19%;
        }
    </style></head>
<body>
    <div class="hello">
        <h1>Hello</h1>
        <p>This is a sample</p>
        <input type="text" placeholder="WE UPPPP" >  <button>CLICK
        
        </button>          </div>
        
</body>
</html>